@charset "utf-8";
* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none; color:black;}

section {width: 100%; min-width: 1200px; height: fit-content;
    /*background-color: rgba(0, 255, 0, 0.1);  */
    margin-top: 90px; float: left; padding: 50px 0;}

.title {width: 100%; height: fit-content;
    /*background-color: rgba(255, 0, 0, .1); */
    margin-bottom: 50px;}
.title>p:first-of-type {text-align: right; margin-bottom: 50px;}
.title>p:nth-of-type(2) {font-size: 42px; font-weight: bold; text-align: center;}


.mside {width: 22%; height: 100%;
    /*background-color: rgba(0, 0, 255, .1); */
    float: left;}
.content {width: 78%; height: 100%;
    /*background-color: rgba(255, 0, 0, 0.2);*/
    float: left; }

.mside_wrapper {width: 90%; min-width: 215px; height: 100%;
    /*background-color: rgba(255, 0, 0, .1);*/
    margin: auto;}
.mside_wrapper>p {font-size: 20px; font-weight: bold; margin-bottom: 15px;}
.mside_content {width: 100%; height: fit-content; border-top: 2px solid black;}
.mside_content ul {margin-top: 50px;}
.mside_content ul>li {margin-top: 15px;}
.mside_content ul>li:first-of-type {font-size: 18px; font-weight: bold;}

.table_title {font-size: 20px; font-weight: bold; margin-bottom:15px;}
.table_title>span {color: gray; font-size: 16px; font-weight: normal;}

.content > form > table {width: 100%; height: 100px;
    /*background-color: rgba(255, 0, 0, 0.1);*/
    border-top: 2px solid black; border-collapse: collapse;}


.content > form > table th,
.content > form > table td {
    text-align: left; /* 텍스트를 가운데 정렬합니다. */
    padding: 22px 0; /* 내부 여백을 추가합니다. */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
}

.content > form > table tr {
    border-bottom: 1px solid gray; /* 각 테이블 행에 회색 하단 테두리 추가 */
}

.addr_search_btn {
    background-color: white;
    border: 1px solid gray;
    color: black;
    margin: 2px 12px;
    padding: 6px 14px;
    white-space: nowrap;
    box-sizing : border-box;
    transition: border .3s;
}

.addr_search_btn:hover {
    border: 1px solid black;
}

.edit_address_btn {
    background-color: black;
    border: 1px solid;
    color: white;
    padding: 18px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    float: right;
    box-sizing: border-box;
    font-weight: bold;
    transition: background-color .3s;
}

.edit_address_btn:hover {
    background-color: #3182F6;
}

.cancle_btn {
    background-color: lightgray;
    border: 1px solid gray;
    color: black;
    padding: 18px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    float: right;
    box-sizing: border-box;
    width: 124px;
    height: 59px;
    margin-right: 7px;
    font-weight: bold;
    transition: background-color .3s;
}

.cancle_btn:hover {
    background-color: #C8C7C7;
}

tbody input {
    text-indent: 5px;
}

.addrNameInput,
.userNameInput,
.telNumInput,
.mobileNumInput {
    width: 202px;
    height: 36px;
}

.zpcdInput {
    width: 82px;
    height: 36px;
    margin: 0px 8px 0px 0px;
}

.mainAddrInput,
.detailAddrInput {
    width: 472px;
    height: 36px;
    margin: 5px 0px 0px;
}

.editTable input {
    box-sizing: border-box;
    border: 1px solid gray;
}

input[readonly] {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    pointer-events: none;
}