@charset "utf-8";
* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none; color:black;}

section {width: 100%; min-width: 1200px; height: fit-content; background-color: rgba(0, 255, 0, 0.1);  margin-top: 90px; float: left; padding: 50px 0;}

.title {width: 100%; height: fit-content; background-color: rgba(255, 0, 0, .1); margin-bottom: 50px;}
.title>p:first-of-type {text-align: right; margin-bottom: 50px;}
.title>p:nth-of-type(2) {font-size: 42px; font-weight: bold; text-align: center;}


.mside {width: 22%; height: 100%; background-color: rgba(0, 0, 255, .1); float: left;}
.content {width: 78%; height: 100%; background-color: rgba(255, 0, 0, 0.2); float: left; }

.mside_wrapper {width: 90%; min-width: 215px; height: 100%; background-color: rgba(255, 0, 0, .1); margin: auto;}
.mside_wrapper>p {font-size: 20px; font-weight: bold; margin-bottom: 15px;}
.mside_content {width: 100%; height: fit-content; border-top: 2px solid black;}
.mside_content ul {margin-top: 50px;}
.mside_content ul>li {margin-top: 15px;}
.mside_content ul>li:first-of-type {font-size: 18px; font-weight: bold;}

.table_title {font-size: 20px; font-weight: bold; margin-bottom:15px;}
.table_title>span {color: gray; font-size: 16px; font-weight: normal;}

.content > form > table {width: 100%; height: 100px; background-color: rgba(255, 0, 0, 0.1); border-top: 2px solid black; border-collapse: collapse;}


.content > form > table th,
.content > form > table td {
    text-align: left; /* 텍스트를 가운데 정렬합니다. */
    padding: 22px 0; /* 내부 여백을 추가합니다. */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
}

.content > form > table tr {
    border-bottom: 1px solid #dddddd; /* 각 테이블 행에 회색 하단 테두리 추가 */
}

.addr_search_btn {
    background-color: #FFFFFF; /* 흰 배경 */
    border: 1px solid #DDDDDD; /* 매우 연한 회색 테두리 */
    color: #000000; /* 검은 글자 */
    margin: 2px 12px;
    padding: 6px 14px; /* 상하 6px, 좌우 12px의 여백 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
}

.edit_address_btn {
    background-color: #000000; /* 흰 배경 */
    border: 1px solid #DDDDDD; /* 매우 연한 회색 테두리 */
    color: #FFFFFF; /* 검은 글자 */
    padding: 18px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    float: right;
    transition: border .3s;
    transition: background-color .3s;
}

.edit_address_btn:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
}

.cancle_btn {
    background-color: #FFFFFF; /* 흰 배경 */
    border: 1px solid #DDDDDD; /* 매우 연한 회색 테두리 */
    color: #000000; /* 검은 글자 */
    padding: 18px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    float: right;
    transition: border .3s;
    margin-left: 7px;
}

.cancle_btn:hover {
    border: 1px solid #000000;
}

tbody input {
    text-indent: 5px;
}

.addrNameInput,
.userNameInput,
.telNumInput,
.mobileNumInput {
    width: 202px;
    height: 36px;
}

.zpcdInput {
    width: 82px;
    height: 36px;
    margin: 0px 8px 0px 0px;
}

.mainAddrInput,
.detailAddrInput {
    width: 472px;
    height: 36px;
    margin: 5px 0px 0px;
}