@charset "utf-8";
* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none; color:black;}

section {width: 100%; min-width: 1200px; height: fit-content; padding: 50px 0; box-sizing: border-box; margin-top: 90px;}

/*section .wrapper {background-color: rgba(0, 255, 0, 0.1);}*/

section .wrapper>p:first-of-type {text-align: right; margin-bottom: 50px;}

section .wrapper .find-id-input {
    /*background-color: rgb(255, 0, 0, .1);*/
    width: 600px;
    height: 300px;
    border: 3px solid grey;
    margin: 0 auto;
    padding: 0;
}

h1 {
    background-color: rgba(0, 0, 0, 0.9);
    color: whitesmoke;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h3 {
    /*background-color: rgb(255, 0, 10, .2);*/
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

section .wrapper .submit-email {
    /*background-color: rgba(100, 0, 100, 0.1);*/
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}

section .wrapper #verificationDiv {
    /*background-color: rgba(0, 0, 255, 0.1);*/
    height: 100px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

h5 {
    color: midnightblue;
    font-size: 15px;
}


input[type="text"], input[type="email"] {
    width: 170px;
    height: 25px;
    border: 1px solid grey;
    padding: 3px;
    margin-left: 10px;
}

li { margin: 5px; }

button {
    width: 100px;
    height: 30px;
    border-radius: 2px;
    color: whitesmoke;
    background-color: black;
    margin-left: 10px;
}

button:hover { font-size: 15px; font-weight: bold; }

section .wrapper .submit-email #wrong-email-format-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: red;
    font-size: 14px;
    font-weight: normal;
}