@charset "utf-8";
* { margin: 0; padding: 0; border: 0; }
ul { list-style: none; }
a { text-decoration: none; color: black; }

section {width: 100%; min-width: 1200px; height: fit-content; padding: 50px 0; box-sizing: border-box; margin-top: 90px;}

/*section .wrapper {background-color: rgba(0, 255, 0, 0.1);}*/

section .wrapper>p:first-of-type {text-align: right; margin-bottom: 50px;}

section .wrapper .find-id-result {
    /*background-color: rgb(255, 0, 0, .1);*/
    width: 600px;
    height: 250px;
    border: 3px solid grey;
    margin: 0 auto;
    padding: 0;
}

h1 {
    background-color: rgba(0, 0, 0, 0.9);
    color: whitesmoke;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h3 {
    /*background-color: rgb(255, 0, 10, .2);*/
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

section .wrapper .show-cust-id {
    /*background-color:cornflowerblue;*/
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

section .wrapper .submit-button {
    /*background-color: aqua;*/
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    width: 70px;
    height: 30px;
    border: 1px solid black;
    border-radius: 2px;
    color: black;
    background-color: white;
    margin: 5px 10px 30px 10px ;
    transition: .3s;
}

input[type="submit"]:hover {
    font-size: 15px; font-weight: bold;
    color: white;
    background-color: black;
}