@charset "utf-8";
* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none; color:black;}

/* section {min-height: calc(100vh - 180px);} */

footer {width: 100%; min-width: 1200px; min-height: 90px; height: fit-content; background-color: #f0f0f0; float: left; color: gray; margin-top: 50px;}


/* footer .wrapper {display: flex; align-items: center; justify-content: space-between;} */
.github {width: 350px; height: 40px;
  display: flex; justify-content: space-between; float: right;}
.github li { height: 100%; aspect-ratio: 1; background-color: gray; border-radius: 50%;}
.github li a {width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; color: white;}

footer .wrapper>div {width: 100%; height: fit-content;
  /* background-color: rgba(255, 0, 0, .1); */
  padding: 15px 0; box-sizing: border-box;
  display: flex; align-items: center; justify-content: flex-end;
}
footer .wrapper>div:nth-of-type(2) {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex; justify-content: space-between;
}

.notice,.info {width: 40%; height: 100%;
  /* background-color: rgba(255, 0, 0, .1); */
  font-size: 14px; line-height: 25px;}
.info {width: fit-content;}
footer a {color: gray;}
.info>li {width: fit-content; height: 100%;
  /* background-color: rgba(255, 0, 0, .1); */
  float: left; margin-left: 100px;}

.notice>li:first-of-type,.info>li>ul>li:first-of-type {
  font-weight: bold;
  margin-bottom: 5px;
}

footer .wrapper>div:last-of-type {display: block; font-size: 14px; line-height: 25px; padding-bottom: 50px; box-sizing: content-box;}