
.datatable-dropdown label {font-size: 1px; color: white;}

.datatable-info {display: none;}

.mt-4 span {color: gray; font-size: 30px;}
.datatable-top,.datatable-bottom {display: none;}

.card-body {width: 100%; height: fit-content; 
    /* background-color: rgba(255, 0, 0, .1); */
    padding-top: 50px;
    padding-bottom: 50px;
}
.registerForm {width: 50%; height: fit-content; 
    /* background-color: rgba(255, 0, 0, .1);  */
    margin: auto; overflow: hidden; padding: 50px 100px; box-sizing: content-box; border: 1px dashed lightgray; border-radius: 7px;}
.registerForm table {border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
	/* border-top: 1px solid black;
	border-left: 1px solid black; */
}

.registerForm th, .registerForm td {
        /* border-bottom: 1px solid black;
        border-right: 1px solid black; */
        padding: 10px;
}
.registerForm td {padding-right: 0;}
.registerForm table input:not(.조회),.registerForm table select 
{width: 100%; border: 1px solid lightgray; height: 35px; text-indent: 5px; border-radius: 5px;}


.add-button {padding: 5px 8px;
    border: lightgray 1px solid;
    border-radius: 7px;
    background-color: white;
    transition: 0.3s; float: right;}
.add-button:hover {background-color: lightgray;}

fieldset {position: relative;}

.조회 {position: absolute; height: 33px; margin-left: 10px;}

#modify {margin-left: 10px;}
