
.datatable-dropdown label {font-size: 1px; color: white;}

.datatable-info {display: none;}

.register {
     padding: 5px 8px; border: lightgray 1px solid; border-radius: 7px; background-color: white; transition: 0.3s;}
.register:hover {background-color: lightgray;}

.register:nth-of-type(3) {float: right;}


.datatable-table > thead > tr > th:first-of-type .datatable-sorter::before,
.datatable-table > thead > tr > th:first-of-type .datatable-sorter::after
{
     display: none;
}

.datatable-table th a {padding: 0;}
/* .datatable-table td input[type="checkbox"]
{
     text-align: center;
}
input {text-align: center;} */

.mt-4 span {
     color: gray;
     font-size: 30px;
}

.datatable-bottom {display: none;}

.paging {
     width: 100%;
     height: 50px;
     padding: 10px;
     text-align: center;
     font-size: 20px;
}

.paging>a {
     margin: 7px;
}

.paging>a::after {
     content: "";
     display: block;
     width: 0;
     height: 1px;
     background-color: slateblue;
     position: absolute;
     left: 50%;
     bottom: 0;
     transform: translateX(-50%);
     transition: .5s;
}
.datatable-dropdown label {font-size: 1px; color: white;}

.datatable-info {display: none;}

.register {
     padding: 5px 8px; border: lightgray 1px solid; border-radius: 7px; background-color: white; transition: 0.3s;}
.register:hover {background-color: lightgray;}

.register:nth-of-type(3) {float: right;}


.datatable-table > thead > tr > th:first-of-type .datatable-sorter::before,
.datatable-table > thead > tr > th:first-of-type .datatable-sorter::after
{
     display: none;
}

.datatable-table th a {padding: 0;}
/* .datatable-table td input[type="checkbox"]
{
     text-align: center;
}
input {text-align: center;} */

.mt-4 span {
     color: gray;
     font-size: 30px;
}

.datatable-bottom {display: none;}

.paging {
     width: 100%;
     height: 50px;
     padding: 10px;
     text-align: center;
     font-size: 20px;
}

.paging>a {
     margin: 7px;
}

.paging>a::after {
     content: "";
     display: block;
     width: 0;
     height: 1px;
     background-color: slateblue;
     position: absolute;
     left: 50%;
     bottom: 0;
     transform: translateX(-50%);
     transition: .5s;
}

