<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- 고객 관련 : 수인 - 시작 -->
        <typeAlias alias="UserDto" type="com.neo.byez.domain.UserDto"/>
        <typeAlias alias="UserInfoHistDto" type="com.neo.byez.domain.UserInfoHistDto"/>
        <!-- 고객 관련 : 수인 - 끝 -->

    </typeAliases>
</configuration>