<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.byez.dao.order.OrderDetailDao">

    <!-- Count 문 (주문번호로 카운트) -->
    <select id="count" resultType="int" parameterType="string">
        SELECT COUNT(*)
        FROM ord_detail
        WHERE ord_num = #{ord_num}
    </select>

    <!-- CountAll 문 -->
    <select id="countAll" resultType="int">
        SELECT COUNT(*)
        FROM ord_detail
    </select>

    <!-- Insert 문 -->
    <insert id="insert" parameterType="OrderDetailDto">
        INSERT INTO ord_detail (ord_num, seq, item_num, id, item_name, price, item_comt, item_qty, item_price, ord_date, review, ord_state, opt1, opt2, opt3, opt4, opt5, reg_date, reg_id, up_date, up_id)
        VALUES (#{ord_num}, #{seq}, #{item_num}, #{id}, #{item_name}, #{price}, #{item_comt}, #{item_qty}, #{item_price}, now(), #{review}, #{ord_state}, #{opt1}, #{opt2}, #{opt3}, #{opt4}, #{opt5}, now(), #{id}, now(), #{id});
    </insert>

    <!-- Select 문 (주문번호로 조회) -->
    <select id="select" parameterType="string" resultType="OrderDetailDto">
        SELECT *
        FROM ord_detail
        WHERE ord_num = #{ord_num}
    </select>

    <!-- Select 문 (ID로 조회) -->
    <select id="selectAll" parameterType="string" resultType="OrderDetailDto">
        SELECT *
        FROM ord_detail
        WHERE id = #{id}
        order by ord_num desc
    </select>

    <!-- Update 문 -->
    <update id="update" parameterType="OrderDetailDto">
        UPDATE ord_detail
        SET item_num = #{item_num},
            item_name = #{item_name},
            price = #{price},
            item_comt = #{item_comt},
            item_qty = #{item_qty},
            item_price = #{item_price},
            ord_date = #{ord_date},
            opt1 = #{opt1},
            opt2 = #{opt2},
            opt3 = #{opt3},
            opt4 = #{opt4},
            opt5 = #{opt5},
            up_date = now(),
            up_id = #{up_id}
        WHERE ord_num = #{ord_num}
        AND seq = #{seq}
    </update>

    <!-- Delete 문 (주문번호로 삭제) -->
    <delete id="delete" parameterType="string">
        DELETE
        FROM ord_detail
        WHERE ord_num = #{ord_num}
    </delete>

    <!-- DeleteAll 문 -->
    <delete id="deleteAll">
        DELETE
        FROM ord_detail
    </delete>

<!--    유경추가-->
<!--주문번호로 조회-->
    <select id="selectByOrdNum" parameterType="string" resultType="OrderDetailDto">
        select *
        from ord_detail
        where ord_num = #{ord_num}
    </select>

<!--취소/반품/교환내역 select문-->
    <select id="selectAllEtc" parameterType="string"  resultType="OrderDetailDto">
        select *
        from ord_detail
        WHERE id = #{id}
          AND ord_state NOT IN ('구매확정', '배송완료', '주문완료', '주문대기');
    </select>

    <update id = "updateOption" parameterType="OrderDetailDto">
        update ord_detail
        set opt1 = #{opt1},  opt2 = #{opt2}
        where ord_num = #{ord_num} and seq = #{seq}
    </update>

<!-- 주문번호와 시퀀스로 주문내역조회(부분교환을 위함)-->
    <select id = "selectNumAndSeq" parameterType="map" resultType="OrderDetailDto">
        select *
        from ord_detail
        where ord_num = #{ord_num} and seq = #{seq}
    </select>

<!--  아이디로 검색하는것으로 수정 (20240522 수정)  -->
    <select id = "selectPage" parameterType="map" resultType="OrderDetailDto">
        SELECT *
        FROM ord_detail
        where id = #{id}
        ORDER BY ord_num DESC
            LIMIT #{offset},#{pageSize}
    </select>

    <!--교환은 부분교환이 가능하도록 구현했기 때문에
주문번호/시퀀스로 찾은 하나의 주문상태만 교환 -->
    <update id="updateEachOrdState" parameterType="OrderDetailDto">
        update ord_detail
        set ord_state = #{ord_state}
        where ord_num = #{ord_num} and seq = #{seq}
    </update>

<!--아이디별 구매내역 갯수 count  20240522 추가함-->
    <select id="countById" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM ord_detail
        where id = #{id}
    </select>
<!-- 찬빈 추가 -->
<!--  id를 통해 리뷰가 작성되지 않은 결제가 완료된 주문번호 속 상품을 가져온다.   -->
    <select id="selectById" parameterType="map" resultType="com.neo.byez.domain.order.OrderDetailJoinItemDto">
        SELECT o.*,i.main_img
        FROM ord_detail o
                 INNER JOIN item i ON o.item_num = i.num
        WHERE o.id = #{id} AND o.review='N' AND o.ord_state='구매확정'
    </select>
<!--주문번호와 상품번호를 통해 ordDetail 테이블의 값을 가져온다.-->
    <select id="selectOrdItem" parameterType="map" resultType="com.neo.byez.domain.order.OrderDetailJoinItemDto">
        SELECT o.*,i.main_img
        FROM ord_detail o
                 INNER JOIN item i ON o.item_num = i.num
        WHERE ord_num = #{ord_num} AND item_num = #{item_num} AND id=#{id}
    </select>
<!--리뷰작성후 해당 sql를 구동시켜 리뷰상태가 완료된 상태임으로 바꿔주는 sql-->
    <update id="updateReviewState" parameterType="ReviewDto">
        UPDATE ord_detail
        SET review = 'Y'
        WHERE ord_num =#{ord_num} AND item_num=#{item_num}
    </update>

    <update id="updateOrdState" parameterType="OrderDetailDto">
        update ord_detail
        set ord_state = #{ord_state}
        where ord_num = #{ord_num}
    </update>
</mapper>