<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.byez.dao.order.PayDao">
    <!-- Count 문 -->
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM pay
    </select>

    <!-- Insert 문 -->
    <insert id="insert" parameterType="PayDto">
        INSERT INTO pay (pay_num, ord_num, price, mtd_code, card_appv_num, card_cncl_num, pay_date, state, remark, reg_date, reg_id, up_date, up_id)
        VALUES (#{pay_num}, #{ord_num}, #{price}, #{mtd_code}, #{card_appv_num}, #{card_cncl_num}, #{pay_date}, #{state}, #{remark}, now(), #{reg_id}, now(), #{up_id})
    </insert>

    <!-- Select 문 (결제번호로 조회) -->
    <select id="select" parameterType="string" resultType="PayDto">
        SELECT *
        FROM pay
        WHERE pay_num = #{pay_num}
    </select>

    <!-- Update 문 (결제번호로 업데이트)-->
    <update id="update" parameterType="PayDto">
        UPDATE pay
        SET card_appv_num = #{card_appv_num},
            card_cncl_num = #{card_cncl_num},
            pay_date = #{pay_date},
            state = #{state},
            remark = #{remark},
            up_date = now(),
            up_id = #{up_id}
        WHERE pay_num = #{pay_num}
    </update>

    <!-- Delete 문 (결제번호로 삭제) -->
    <delete id="delete" parameterType="string">
        DELETE
        FROM pay
        WHERE pay_num = #{pay_num}
    </delete>

    <!-- DeleteAll 문 -->
    <delete id="deleteAll">
        DELETE
        FROM pay
    </delete>
</mapper>